.NavbarItems{
    height:5vh;
    font-size:3vh;
}
.NavbarLogo{
    margin-right:400px;
}
.NavbarLinks *{
    padding:10px;
}
.NavbarItems *{
    display:inline;
    color:black;
}
.Menu-Links {
    display: inline-block;
    position: relative;
    color :black;
    text-decoration: none;
    margin-right: 50px;
    font-size:30px;
  }
  
.Menu-Links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color:red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.Menu-Links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }